@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html { box-sizing: border-box; }
* {  margin: 0; }
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  scroll-behavior: auto;
  line-height: 1.5;
  color: #121212;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 700px !important;
  background-color: #efefef;
}

.layout {
  min-height: 90vh;
}
main {
  margin: 54px 10px 0 10px;
  padding-top: 18px;
  background-color: #ffffff;
}
section {
  padding: 2px 9px 6px 9px;
  border: 0.5px dotted #cccccc;
  /*background-image: linear-gradient(to bottom right, #fff, #eee);*/
  margin: 7px 10px 4px 9px;
}
footer {
  position: relative;
  transform: translateY(19%);
  margin: 0 0 0 0;
  font-size: 1rem;
  background: rgba(255, 69, 0, 0.32);
  color: rgba(0, 0, 126, 0.52);
  padding: 4px 12px;
  z-index: 20;
}
/*======== nav menu ==========**/
nav ul,  nav ul li{
  display: flex;
  padding: 0;
  list-style: none;
}

nav ul li a{
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  padding: 6px 20px;
}

nav ul a:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
/*===============================*/

h1, h2, h3, h4 {
  margin: 8px;
  padding:0;
}

p {
  font-family: "Noto Sans KR", sans-serif;
  padding: 3px 8px;
  margin: 0;
}

code {
  display: block;
  padding: 6px 4px;
  font-family: 'Consolas', 'Nanum Gothic Coding', monospace;
  font-size: 0.95rem;
  word-wrap: break-word;
  white-space: pre;
}
code::before, .cd {
  content: "| ";
  color: orangered;
}
.cd {
  display: inline;
}
.card {
  border: 1px solid #f2a;
  border-radius: 8px;
  padding: 8px;
  width: auto;
  display: inline-block;
}

table {
  width: 100%;
  border: 1px solid #444;
  border-collapse: collapse;
}
tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
/** custom tags */
red, .red {
  color: orangered;
  font-weight: bold;
}
green, .green {
  color: green;
  font-weight: bold;
}

ul.no-list-type li {
  padding:0;
  margin: 0 0 0 -20px;
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
}
ul li{
  list-style: circle;
}

hr {
  border: 2px solid orangered;
  margin: 8px 0;
}