nav {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #333;
   padding:0;
   z-index: 100;
}
nav ul {
   display: flex;
   justify-content: left;
   /*gap: 2rem;*/
   align-items: center;
   padding: 0;
   list-style: none;
}
nav ul li {
   list-style: none;
   display: flex;
   justify-content: left;
   align-items: center;
   padding:0;
}
nav ul li a{
   font-size: 1.1rem;
   color: white;
   text-decoration: none;
   padding: 6px 10px;
}

nav ul li ul {
   display: flex;
   flex: 1 1;
   justify-content: left;
   align-items: center;
   padding: 0;
   margin-left: 20px;
   position: absolute;
   top: 38px;
   left: 50%;
   right: auto;
   transform: translateX(-50%);
   background-color: orangered;
   width: 106%;
}
nav ul li ul li {
   color: whitesmoke;
   padding: 0;
   text-decoration: none;
   z-index: 10;
}
nav ul li ul li a {
   font-size: 1rem;
}
nav ul li ul li a:hover {
   background-color: #777;
   color: white;
}
nav ul li ul li ul {
   display: flex;
   justify-content: left;
   align-items: center;
   padding:0;
   margin: 0;
   position: absolute;
   top: 32px;
   left: 50%;
   right: auto;
   transform: translateX(-50%);
   background-color: black;
   width: 105%;
}
nav ul li ul li ul li {
   padding:0;
   text-decoration: none;
   z-index: 10;
}
nav ul li ul li ul li:first-child {
   margin-left:20px;
}
nav ul li ul li ul li a {
   font-size: 0.9rem;
   color: #fff;
   /*padding: 4px 6px;*/
}

nav ul li a:hover {
   background-color: black;
   color: #fff;
   cursor: pointer;
}

a#go-js-home{
   background-color: #444;
}
a#go-js-home:hover{
   background-color: #777;
}
a#go-home {
   background-color: orange;
}
a#go-home:hover {
 background-color: orangered;
}