.navStyle  {
   position: fixed;
   top: 0; width: 100%;
   background-color: #333;
   background-image: linear-gradient(to right, #333 ,#888 ,#aaa);
   z-index: 100 }

.onSelect  {
   background-color: white; color: black; width: 140px
}
.homeMemo  {
   background-color: royalblue; color: white
}
.ulStyle  {
   display: flex;
   justify-content: left; align-items: center;
   text-align: center;
   width: 100%; font-size: 1rem
}
.subMenuStyle  {
   display: flex; justify-content: left; align-items: center;
   text-align:center;
   width: 100%;
   font-size: 1rem;
   background-color: orangered;
   position: absolute;
   top: 38px;
   left: 0;
   padding-left: 10px;
}
.dropdownStyle  {
   display: flex;
   flex-direction:column;
   justify-content: left;
   align-items: center;
   position: absolute;
   top: 38px;   left: 0;
   padding-left: 10px;
   text-align: left;
   width: 140px;
   padding-right: 0;
   background-color:green;
   font-size:10px
}

.btnMove {
   padding: 0; margin:0; font-weight: bolder;
   font-size: large; border: none;
   background: #555;
}
.link {
   padding: 8px 12px; margin: 0 0 0 0; font-weight: bolder;
}
.loader {
   width: 26px;
   height: 26px;
   border: 3px solid #FFF;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}
.loader::after {
   content: '';
   box-sizing: border-box;
   position: absolute;
   left: 0;
   top: 0;
   background: #FF3D00;
   width: 10px;
   height: 10px;
   transform: translate(-50%, 50%);
   border-radius: 50%;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.neon {
   animation: neon 4s ease infinite;
   font-weight: bolder;
}
@keyframes neon {
   0%,
   100% {
      text-shadow: 0 0 0 #222, 0 0 0 #666, 0 0 0 #888, 0 0 0 #aaa, 0 0 0 #fff;
      color: #eee;
   }
   10% {
      text-shadow: 0 0 0 #000;
      color: #222;
   }
}


.flipX {
   animation: 4s anim-flipX ease infinite;
}
@keyframes anim-flipX {
   0% {
      opacity: 0;
      transform: rotateX(90deg);
   }
   50% {
      opacity: 1;
      transform: rotateX(720deg);
   }
   100% {
      /* animate nothing to pause animation at the end */
      opacity: 1;
      transform: rotateX(720deg);
   }
}
